streamlit
transformers
torch
sentence-transformers
faiss-cpu
pandas
numpy
python-docx
pdfplumber
pytesseract
Pillow
langchain==1.0.2
openai
scikit-learn
pymcdm
regex
tqdm
python-multipart
uvicorn
fastapi
langchain-google-genai==3.0.0